.summary {
    text-align: left;
    width: 300px;
    margin: 20px auto;
    font-size: 18px;
}
.submit-wrapper {
    text-align: center;
    margin: 20px 0;
    button {
        margin: 0 20px;
    }
}